body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  max-width: 1280px;
}

/* ============================================ */
/*                     .HEAD                    */
/* ============================================ */
.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.408);
  padding: 2rem 1rem;
  position: relative;
}

// .head-toggle
.head-toggle {
  display: none;
}

// .head-logo
.head-logo {
  min-width: 120px;
  min-height: 25px;
}

// .head-menu
.head-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-right: auto;

  a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #a0a2a8;
    font-weight: 700;
    position: relative;
    // height: 100%;

    &:hover {
      color: #60646f;
    }

    &:hover::before {
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0%;
      height: 5px;
      background: orangered;
      top: calc(130% + 2rem);
      transition: 0.4s all ease;
    }
  }
}

// .head-info
.head-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  // 1
  .info-cart {
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    position: relative;

    &:hover {
      opacity: 0.8;
    }

    .cart-value {
      padding: 0.1rem 0.5rem;
      background: orangered;
      color: white;
      font-size: 0.7rem;
      font-weight: 700;
      border-radius: 20px;

      position: absolute;
      top: 50%;
      left: 50%;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  // 2
  .info-avatar {
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid orange;
    border-radius: 100rem;

    &:hover {
      opacity: 0.8;
    }
  }

  // 3
  .info-shop {
    // display: none;
    position: absolute;
    top: 110%;
    right: 1%;
    // width: 30%;
    min-width: 200px;

    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

    transform: translateY(-30px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 0.2s ease-in;

    &.active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    h3 {
      font-weight: 700;
      text-align: left;

      width: 100%;
      padding: 1rem;
      border-bottom: 1px solid black;
    }

    .order {
      text-align: center;
      padding: 1rem;
      color: #60646f;

      // padding: 4rem 0;
      width: 100%;
      font-weight: 700;

      .info-product {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        // 1
        .order-img {
          width: 45px;
          height: 45px;
          border-radius: 10px;
        }
        // 2
        .order-detail {
          text-align: left;
          font-weight: 400;
        }
        // 3
        .trash-btn {
          cursor: pointer;

          &:hover {
            filter: invert(58%) sepia(39%) saturate(2299%) hue-rotate(345deg)
              brightness(97%) contrast(92%);
          }
        }
      }

      .checkout {
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        background: orangered;
        font-weight: 700;
        color: white;
        margin-top: 1rem;
        &:hover {
          background: rgb(228, 84, 31);
          cursor: pointer;
        }
      }
    }
  }

  .info-user {
    display: none;
  }
}

/* ============================================ */
/*                     .MAIN                    */
/* ============================================ */
.main {
  width: 90%;
  padding: 4rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7rem;
}

/* --------------- // .MAIN-IMG --------------- */
.main-img {
  width: 50%;
  align-self: stretch;

  .big-img {
    max-height: 500px;
    overflow: hidden;
    cursor: zoom-in;

    .big {
      border-radius: 10px;
    }

    .move-bt {
      display: none;
    }
  }

  .thumnail-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem 0;
    width: 100%;

    img {
      border-radius: 10px;
      width: calc(25% - 1rem);
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* --------------- // .MAIN-INFO -------------- */
.main-info {
  width: 50%;
  padding-top: 2rem;

  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  // 1
  .info-text {
    h2 {
      color: orangered;
      line-height: 2.5;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    h1 {
      font-size: clamp(1.8rem, 4vw, 2.5rem);
      line-height: 1.2;
    }

    p {
      padding: 1rem 0;
      line-height: 1.5;
      color: #60646f;
      font-weight: 400;
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }

  //   2
  .info-price {
    .price {
      font-size: 2rem;
      font-weight: 700;
    }

    .sale {
      color: orangered;
      padding: 0.3rem;
      font-weight: 700;
      border-radius: 5px;
      background: #f9f0e9;

      position: relative;
      top: -8px;
      margin-left: 0.8rem;
    }

    .price-origin {
      display: block;
      color: #60646f;
      font-weight: 700;
    }
  }

  //   3
  .info-buy {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;

    .buy-value {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      width: 40%;
      font-weight: 700;

      div {
        width: 33%;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        text-align: center;
        background: #e3e4eb;
        user-select: none;
      }

      .plus:hover,
      .minus:hover {
        cursor: pointer;
        background: #a0a2a8a7;
      }
    }

    .buy-add {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      width: 60%;
      height: 100%;
      border-radius: 10px;
      background: #d86d2d;
      color: white;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .main {
    gap: 3rem;
  }
}
